body{
    margin: 0;
    padding: 0;
    background: url(../img/fon_header.jpg);
}
.header_nav{
    width: 100%;
    height: 80px;
    display: grid;
    grid-template-columns: 500px 550px;
    align-items: center;
    justify-content: center;
    top: 0;
    position: fixed;
    background: #fff;
    z-index: 1000;
}
.nav_menu {
    display: inline-flex;
    text-decoration: none;
    list-style-type: none;
    color: #b2b2b2;
    justify-content: space-between;
    padding-left: 40px;
    font-size: 18px;
}
.nav_menu a:hover{
    color: #000;
    cursor: pointer;
}
.nav_menu a {
    text-decoration: none;
    color: #b2b2b2;
}
.selected{
    color:#000 !important;
}
.first_block_info{

    width: 100%;
    height: 641px;
    top: 0;

}
.title_info{
    font-size: 40px;
    color: #fff;
    height: 671px;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-rows: 150px;
    grid-row-gap: 90px;
    margin: 0 auto;
    box-shadow: 0px -150px 1em 0px rgba(255,255,255,0.5) inset;


}
.title_info img{
    margin: 0 auto;
    height:430px;
    z-index: -1000;

}
.first_text_info{
    margin-top: 140px;
    font-size: 45px;
    letter-spacing: 5px;
}
.logo{
    height: 70px;
}
.under_text{
    top: 0;

}
.btn_first_info{
width:150px;
    height: 50px;
    color:#fff;
    text-align: center;
text-transform: uppercase;
    margin: 0 auto;
background: #000;
    font-size: 16px;
    border-radius: 20px;
    margin-bottom: 30px;

}
.text_into_btn{
    text-align: center;
    padding-top: 15px;
  letter-spacing: normal;

}
.btn_first_info:hover{
    box-shadow: inset  0px -90px 1em 0px rgba(255,255,255,0.3)  ;
}
.under_text_block{
    margin-top: -305px;
    color: #000;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.our_offers{
    margin-top: 20px;
    padding-top: 20px;
    background: #fff;
    display: grid;
    margin-bottom: 20px;
    padding-bottom: 40px;
    grid-template-columns: 310px 310px 310px 310px;
    text-align: center;
    position: relative;

}
.our_offers_card{
    justify-content: center;
    text-align: left;
    margin-left: 100px;
    margin-top: 20px;
    height: 170px;
    border:5px solid rgba(0,0,0,0.2);
    padding-top: 15px;
}
.first_info_card{
    word-spacing: 2px;
    font-size: 17px;
    margin-left: 19px;


}
.phone{padding-right: 10px}
.circle{padding-right: 10px}
.text_for_card{text-align: left;
    width: 80%;
    margin: 0 auto;
    padding-top: 15px;

}
.our_offers_card:hover{
    border: 5px solid #b2b2b2;
}
.second_block{
    background: url(../img/fon_second_block.jpg) no-repeat;
    background-attachment: fixed;
    background-size:cover;
    margin-top: -1px;
    width: 100%;
    height: 500px;

}
.block_of_oblic{
    display: grid;
    grid-template-rows: 300px;

}
.text_of_oblic1{
    font-size: 50px;
    color: #fff;
       width: 80%;
    text-align: center;
    margin: 100px auto;

}
.text_of_oblic1 span{
    font-weight: bold;
font-size: 52px;
}
.text_of_oblic2{
    font-size: 18px;
    color:#fff;
    margin: 0 auto;
    text-align: center;
    width: 80%;
}
.third_block{background: #fff;margin-top: -30px;padding-bottom: 40px;
}
.welcome_block{
    display: grid;
    grid-template-columns: 450px 400px 450px;
}
.text_of_third{
    text-align: left;
    margin-left: 60px;
    margin-top: 60px;

}
.text1_block{
    font-size: 40px;
    color: #000;

}
.text2_block{
    font-size: 20px;
}
.btn_third{
    margin-top: 55px;
    background: #000;
    width: 150px;
    height: 30px;
    text-align: center;
    padding-top: 10px;

}
.btn_third a{
    text-decoration: none;
    color:#fff;
    font-size: 18px;
    justify-content: center;
    align-items: center;

}
.arrow{
    padding-left: 15px;
text-align: center;
    margin: 0 auto;
}
.btn_third:hover{
    background: rgba(0,0,0,0.7);
}
.form_third_block{
background:rgba(0,0,0,0.1);
    margin-top: 60px;
    display: grid;
    text-align: left;
    padding: 40px;
}
.form_third_block span{
    font-weight: bold;
    font-size: 21px;
}
.register_form_block{
display: grid;
    grid-template-columns: 180px 180px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.register_form_block input{
    height: 30px;
}
.text_area{
    width: 375px;
    height: 100px;
}
.btn_reg{
    background: #000;
    width: 100%;
    color: #fff;
    padding: 10px;
    margin-top: 30px;
    border: none;
}
.btn_reg:hover{
    background: rgba(0,0,0,0.7);
}
.img_third_block img{
    height: 350px;
    margin: 0 auto;
}
.four_block{
    background: #fff;
}
.hr1{
    color: #000;
    width: 10%;
}
.header_of_four_block{
padding-top: 80px;
    display: grid;
    text-align: center;
}
.header_of_four_block span{
    font-weight: bold;
    font-size: 24px;
}
.card_info{
    display: grid;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    grid-template-columns:330px 330px 330px 330px ;
}
.card_info1{
   text-align: center;
    margin-bottom: 30px;
}
.list_icon{
    display: inline-flex;
    text-align:center;
    margin: 0 auto;
    padding-left: 20px;
    list-style-type: none;

}
.list_icon{
    background: #000;
   margin-left: 5px;
    color: #fff;
    padding: 20px;
}
.icon_of_block{
    margin-left: -30px;
}
.card_info2{
    background: rgba(0,0,0,0.1);
    margin-bottom: 35px;
    padding-top: 65px;
}
.five_block{
    display: grid;
    grid-template-columns: 640px 640px;
    background: #fff;
    padding: 50px;


}
.right_five_block{
    width: auto;
    height: auto;
margin: 0 auto;
}
.left_five_block{margin-left: 50px}
.col_block{
margin-top: 30px;
    display: grid;
    grid-template-columns: 300px 320px;
    grid-column-gap: 20px;

}
.header_title_text{
    font-weight: bold;
    font-size: 34px;

}
.hr2{
    width: 50px;
    color: #000;
    margin:30px 0 30px 0;

}
.col_block span{
    font-weight: bold;
    font-size: 24px;
}
.header_under_text{
    font-size: 18px;
}
.btn_5bl{
    background: #000;
    border: none;
    color: #fff;
    width: 100px;
    height: 30px;
}
.five_block_three,.five_block_four{
    margin-top: 50px;
}
.six_block{
    background: #fff;
}
.text_header{
    font-weight: bold;
    font-size: 50px;
    padding: 20px 0px 0 50px;
    margin-left: 40px;
}
.galary{
    display: grid;
    grid-template-columns: 390px 390px 390px;

    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;

}
.container{
    position: relative;
}
.card_of_galary1:hover{
     display: block;

}
.icon {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.fa-user:hover {
    color: #eee;
}
.container:hover .overlay{
    opacity: 1;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background: rgba(0,0,0,0.8);
}
.btn_5bl:hover{
    background: rgba(0,0,0,0.5);
}
.list_icon:hover{
    background: rgba(0,0,0,0.5);
}
.footer{
    padding: 20px 0 20px 0;
    background: #111111;

}
.under_block{
    display: grid;
    grid-template-columns: 330px 530px 390px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}
.under_links li{
    list-style-type: none;
    color: rgba(255,255,255,0.5);
    padding: 10px 10px 10px 15px;
    position: relative;
}
.under_contacts li{
list-style-type: none;
    color: rgba(255,255,255,0.5);
    padding: 10px 10px 10px 15px;
    position: relative;

}
.under_links a{
text-decoration: none;
    color: rgba(255,255,255,0.5);
}
.under_links a:hover{
    color: #fff;
}
.right-arrow:before {
    content:'\25BA'
}
.under_contacts span{
    padding-left: 15px;

}
.under_contacts p{
    margin-left: 10px;
}
.under_email p{
    color: rgba(255,255,255,0.5);

}
.btn_under{
    margin-top: 20px;
    height: 30px;
    width: 220px;
    background: #000;
    color: #fff;
    border: none;
}
.under_email input{
height: 30px;
    width: 210px;
}
.btn_under:hover{
    background: rgba(255,255,255,0.3);
}
footer{
    background: #0B0B0B;
    padding: 5px 0 5px 0;
    display: grid;
    grid-template-columns: 850px 300px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.footer_block{
    color: rgba(255,255,255,0.5);
}
.social_links li{list-style-type: none;padding-left: 10px;
    color: rgba(255,255,255,0.5);
}
.social_links{display: inline-flex; }
.social_links li:hover{
    color: #fff;
}
.text_second{

}
.sk_bl{
    margin-left: 32px;
}